.popup{ 
  font-family: inherit;
}

.store-mapper {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  /* Search Panel */
  .search-panel {
    width: 30%; /* Set width to 30% for the search panel */
    padding: 1.5rem;
    border-right: 1px solid #ddd;
    background-color: #f9fafb;
    color: #333;
  }
  
  .search-panel h2 {
    color: #00264d;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .search-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  /* Store List Styling */
  .store-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 60vh;
  }
  
  .store-item {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
  }
  
  .store-item:hover {
    background-color: #e6f0f5;
  }
  
  .store-name {
    width: 100%;
    font-size: 18px !important;
    line-height: 27px !important;
    letter-spacing: 0.0012em;
    margin-bottom: 6px !important;
    font-family: "favorite";
    font-weight: 700 !important;
    color: #1F1507;
  }
  
  .store-address {
    font-size: 15px !important;
    font-weight: 325 !important;
    line-height: 20px !important;
    letter-spacing: 0.0012em;
    margin: 0px 0px 15px 0px !important;
    padding: 0px;
    color: #252525;
}
  /* Map Panel */
  .map-panel {
    width: 70%; /* Set width to 70% for the map panel */
    position: relative;
    padding: 1rem;
  }
  
  google-map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .popup {
    background: white;
    width: 375px;
    max-height: calc(100% - 182px);
    min-height: 300px;
    padding: 0 24px 24px 24px;
    overflow-y: auto;
    top: 150px !important;
    position: absolute;
    z-index: 1;
    left: 36% !important;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  
  .popup-item {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 10px;
    flex-wrap: wrap; /* Allow content to wrap */
  }
  
  .popup-item span,
  .popup-item a {
    flex: 1;
    word-wrap: break-word;
    white-space: normal; /* Allow text to wrap */
    overflow: hidden; /* Prevent content from overflowing */
  }
  
 
  


  




  .close-btn{ 
    float: right;
    height: 50px;
    width: 50px;
    background: transparent !important;
    text-indent: 0px !important;
    margin-top: 0;
    cursor: pointer;
    line-height: 60px;
    text-align: left;
    border: none;
  }

  h3{ 
    width: calc(100% - 50px);
    text-align: left;
    letter-spacing: 0.0012em;
    padding-top: 15px !important;
    font-family: "favorite-expanded";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #1F1507;
  }